.app-container ul{
    padding: 5px;
    max-width: 300px;
    width: 300px;
}

.todo-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  