/* .app-container ul{
    padding: 5px;
    max-width: 300px;
    width: 300px;
}

.todo-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .filter-buttons {
    margin: 20px 0;
  }
  
  .filter-buttons button {
    margin-right: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: transparent;
    cursor: pointer;
    color: #007bff;
  }
  
  .filter-buttons button.active {
    background-color: #007bff;
    color: white;
  }

  .filter-buttons button:hover{
    background-color: rgba(0, 123, 255, 0.5);
    color:white;
  }
   */

   /* src/styles/TodoList.css */

.todo-list-container {
  padding: 10px;
}

.filter-buttons {
  margin-bottom: 10px;
}

.filter-buttons button {
  margin-right: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: transparent;
  cursor: pointer;
  color: #007bff;
}

.filter-buttons button.active {
  background-color: #007bff;
  color: white;
}

.filter-buttons button:hover {
  background-color: rgba(0, 123, 255, 0.5);
  color: white;
}
